<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>demo</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<script src="../lib/jquery.js"></script>
	<script src="../lib/language.js"></script>
</head>
<body>

<div id="langBox">
	<span data-action="msg_language"></span><span data-action="sign_colon"></span>
	<select id="lang">
		<!-- <option value="browser">Indicated by the browser</option> -->
		<option value="en">ENGLISH</option>
		<option value="ch">中文</option>
	</select>
	<span id="langBrowser"></span>
</div>


<span data-action="msg_backreport"></span>
<span data-action="sign_colon"></span>
<span data-action="msg_unsubcribed"></span>
<span data-action="sign_comma"></span>
<span data-action="msg_cause"></span>
<span data-action="sign_colon"></span>
<span data-action="msg_refused"></span>
<span data-action="sign_excalm"></span>
<div data-action="msg_help_sent"></div>
<hr>
<div data-action="msg_explain_sent"></div>
<div data-action="msg_{{$content}}"></div>
</body>
</html>
